.input-wrapper {
  margin: 3rem;
}

#lucky-num-input {
  border: none;
  appearance: none;
  text-align: center;
  width: 6rem;
  height: 3rem;
  color: var(--primary-color);
  background: var(--secondary-color);
  border-radius: 0.5rem;
}

.fade-in-2 {
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

.subtitle {
  color: var(--secondary-color);
}

/* hiding the spin buttons of input type=number */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}